{% extends 'home/base.html'%}
{% load i18n %}
{% load static%}
{% block content %}

<head>  <link type="text/css" href="{% static 'home/css/style.css' %}" rel="stylesheet">
  <style>
     #form{
      width:40%;
    }
    #form label{
      color: black;
      font-size: 18px;
    }
  </style>
</head>
  <!-- recipes -->
  <div class="recipes container grey-text text-darken-1">
    <div style="display: flex; justify-content:space-between; align-items:right;">
      <!-- Button to redirect to graph_well page -->
       
      <div>
        {% if request.user.is_authenticated %}
          <div>
            <h5 style="color:black">{% trans "Welcome, " %}<span style="color:black">{{ request.user.username }}</span></h5>
          </div>
        {% endif %}
      </div>
      <img src="{% static 'home/images/main.jpeg'%}" alt="{% trans 'Poshan vatika' %}" class="main-image" style="margin-right:50px;">        <div>
            <button class="btn btn-primary" style="width: 200px; text-align: center;" onclick="location.href=`{% url 'view_poshan' %}`">View PoshanVaitka</button>
            <br>
          <br>
            <button class="btn btn-primary" style="width: 200px; text-align: center;" onclick="location.href=`{% url 'view_entered_details' %}`">View Entered Details</button> 
           </div> 
    </div>
    <p class='msg-box'>{% trans "Add Nutrigardens Information" %}</p>  </div>

  <!-- Add Button -->
  <div class="center">
    <a class="btn-floating btn-small btn-large add-btn">
      <i class="material-icons" style=" background-color: #4CAF50;">add</i>
    </a>
  </div>

  <!-- add  side nav -->
  <div id="side-form" class="side-form">
    <div class="image-options">
      <div class="camera-div">
        <a class="btn-floating btn-large capture-btn">
          <i class="material-icons">camera_alt</i>
        </a>
        <hr style="width:50% ;text-align:center;">

        <small>{% trans "Click image from your camera" %}</small>      </div>
      <div class="upload-div">
        <a href="{% url 'uploadvatikapic' %}" class="btn-floating  btn-large upload-btn">
          <i class="material-icons">upload</i>
        </a>
        <hr style="width:50%;text-align:center;">
        <small>{% trans "Upload images" %}</small>
      </div>
    </div>
    <div class="capture-div" style='display:none'>
      <form id= "form" class="container section" method="post">
        {% csrf_token %}
        <h6>{% trans "Add NutriGarden" %}</h6>
                <div class="divider"></div>
          <video id="player" autoplay></video>
          <canvas id='canvas' width="320px" height="240px" name="picture_name" required></canvas>
          <div class="input-field center">
            <a id="capture-btn" class="waves-effect waves-light btn-small" style=" background-color: #4CAF50;">{% trans "Capture" %}</a>          </div>
  
          <div id='pick-image'>
            <small>{% trans "Allow Camera access to app" %}</small>
          </div>
          
          
          <div class='row'>
            <div class='input-field col s12'>
              <span style="float: left; color: black;">{% trans "Beneficiary Name:" %}</span>
              <input type="text" class="fieldlabels" placeholder="{% trans "Beneficiary Name" %}" name="name" id="name" required>
            </div>
          </div>

          <div class='row'>
            <div class='input-field col s12'>
              <span style="float: left; color: black;">{% trans "Name of individual / organization / school under which Nutri-Garden is cultivated:" %}</span>
              <input type="text" class="fieldlabels" placeholder="{% trans "Organization Name" %}" name="organization" id="organization" required>
            </div>
          </div>
          <div class='row'>
            <div class='input-field col s12'>
              <span style="float: left; color: black;">{% trans "Name of Village:" %}</span>
              <input type="text" class="fieldlabels" placeholder="{% trans "Village Name" %}" name="village" id="village" required>
            </div>
          </div>
          <div class='row'>
            <div class='input-field col s12'>
              <span style="float: left; color: black;">{% trans "Name of District:" %}</span>
              <input type="text" class="fieldlabels" placeholder="{% trans "District Name" %}" name="district" id="district" required>
            </div>
          </div>
          <div class='row'>
            <div class='input-field col s12'>
              <span style="float: left; color: black;">{% trans "Name of State:" %}</span>
              <input type="text" class="fieldlabels" placeholder="{% trans "State Name" %}" name="state" id="state" required>
            </div>
          </div>
          <div class='row'>
            <div class='input-field col s12'>
              <span style="float: left; color: black;">{% trans "Enter Pincode:" %}</span>
              <input type="text" class="fieldlabels" placeholder="{% trans "Pincode" %}" name="pincode" id="pincode" required>
            </div>
          </div>
          <div class='row'>
            <div class='input-field col s12'>
              <span style="float: left; color: black;">{% trans "Latitude:" %}</span>
              <input id="lat" type="text" name="lat" class="fieldlabels" placeholder="{% trans "Enter Latitude" %}" required>
            </div>
          </div>
          <div class='row'>
            <div class='input-field col s12'>
              <span style="float: left; color: black;">{% trans "Longitude:" %}</span>
              <input id="lng" type="text" name="lng" class="fieldlabels" placeholder="{% trans "Enter Longitude" %}" required>
            </div>
          </div>
          <div class='row'>
            <div class='input-field col s12'>
              <span style="float: left; color: black;">{% trans "Type of Nutri-Garden:" %}</span><br>
              <p><label><input class="with-gap" name="self_made" type="checkbox" id="self_made" value="Individual level-self made" /><span>{% trans "Individual level-self made" %}</span></label></p><br>
              <p><label><input class="with-gap" name="local_ngo" type="checkbox" id="local_ngo" value="Individual level-got help from local NGO" /><span>{% trans "Individual level-got help from local NGO" %}</span></label></p><br>
              <p><label><input class="with-gap" name="external_support" type="checkbox" id="external_support" value="without external support" /><span>{% trans "Community level- without external support" %}</span></label></p><br>
              <p><label><input class="with-gap" name="govt_support" type="checkbox" id="govt_support" value="through Government support" /><span>{% trans "Individual level-through Government support" %}</span></label></p><br>
              <p><label><input class="with-gap" name="community_level" type="checkbox" id="community_level" value="with support from external agency" /><span>{% trans "Community level - with support from external agency" %}</span></label></p><br>
              <p><label><input class="with-gap" name="school_level" type="checkbox" id="school_level" value="School level" /><span>{% trans "School Nutri-Garden" %}</span></label></p><br>
              <p><label><input class="with-gap" name="anganwadi" type="checkbox" id="anganwadi" value="Anganwadi level" /><span>{% trans "Anganwadi level Nutri-Garden" %}</span></label></p><br>
              <p><label><input type="text" class="fieldlabels" placeholder="{% trans 'Type of Nutri-Garden' %}" name="others_nutri" id="others_nutri">{% trans "Others:" %}</label></p><br>
            </div>
          </div>
          
          <div class='row'>
            <div class='input-field col s12'>
              <span style="float: left; color: black;">{% trans "If getting support from local NGO, name the NGO and locality of NGO" %}</span>
              
              <input type="text" class="fieldlabels" placeholder="{% trans 'Local NGO Name and Locality' %}" name="local_ngo_detail" id="local_ngo_detail" required>                    
            </div>
          </div>

          <div class='row'>
            <div class='input-field col s12'>
              <span style="float: left; color: black;">{% trans "If getting support from Government, name of the Department/ Ministry providing support" %}</span>
              <input type="text" class="fieldlabels" placeholder="{% trans 'Government Department/Ministry' %}" name="govt_support_detail" id="govt_support_detail" required>
            </div>
          </div>

          <div class='row'>
            <div class='input-field col s12'>
              <span style="float: left; color: black;">{% trans "Level of Nutri-Garden" %}</span><br>
              <p><label><input class="with-gap" name="self_consumption" type="checkbox" id="self_consumption" value="self consumption" /><span>{% trans "For self consumption" %}</span></label></p><br>
              <p><label><input class="with-gap" name="surplus_selling" type="checkbox" id="selling_surplus" value="selling surplus" /><span>{% trans "Selling surplus" %}</span></label></p><br>
              <p><label><input class="with-gap" name="surplus_addition" type="checkbox" id="surplus_addition" value="Selling surplus with value addition" /><span>{% trans "Selling surplus with value addition" %}</span></label></p><br>
              <p><label><input type="text" class="fieldlabels" placeholder="{% trans 'level of Nutri-Garden' %}" name="others_level" id="others_level">{% trans "Others:" %}</label></p><br> 
            </div>
          </div>
          <div class='row'>
            <div class='input-field col s12'>
              <span style="float: left; color: black;">{% trans "Nutri-garden scale" %}</span><br>
              <p><label><input class="with-gap" name="vegetable" type="checkbox" id="vegetable" value="veg_and_fruit" /><span>{% trans "Only for vegetables and fruits" %}</span></label></p><br>
              <p><label><input class="with-gap" name="backyard_poultry" type="checkbox" id="backyard_poultry" value="poultry" /><span>{% trans "Backyard Poultry" %}</span></label></p><br>
              <p><label><input class="with-gap" name="backyard_fishery" type="checkbox" id="backyard_fishery" value="fishery" /><span>{% trans "Backyard Fishery" %}</span></label></p><br> 
              <p><label><input type="text" class="fieldlabels" placeholder="{% trans 'level of Nutri-Garden' %}" name="others_scale" id="others_scale">{% trans "Others:" %}</label></p><br> 
            </div>
          </div>
          <div class='row'>
            <div class='input-field col s8'>
              <span style="float: left; color: black;">{% trans "Are you selling the surplus from Nutri-Garden" %}</span><br>
              <p><label><input class="with-gap" name="surplus" type="radio" value="yes" id="chkdyes" /><span>{% trans "Yes" %}</span></label></p>
              <p><label><input class="with-gap" name="surplus" type="radio" value="no" /><span>{% trans "No" %}</span></label></p>
            </div>
          </div>
  
          <div id="surplusyes" style="display:none" class="row">
            <div class='row'>
              <div class='input-field col s12'>
                <span style="float: left; color: black;">{% trans "If yes How much surplus you sell per month (in Kg/month)" %}</span>
                <input type="text" class="fieldlabels" placeholder="{% trans 'per month' %}" name="month" id="surplus">
              </div>
            </div>
          </div>
          
          <div class='row'>
            <div class='input-field col s10'>
              <span style="float: left; color: black;">{% trans "What standard area of Nutri-Gardens?" %}</span><br>
              <p><label><input class="with-gap" type="radio" id="one_to_fivehundred" name="one_to_fourthousand_sq" value="Less_than_thousand" /><span>{% trans "Less than 1000 sq.ft model" %}</span></label></p><br>
              <p><label><input class="with-gap" type="radio" id="fivehundred_to_1000" name="one_to_fourthousand_sq" value="1000 to 2000" /><span>{% trans "1000 to 2000 sq.ft model" %}</span></label></p><br>
              <p><label><input class="with-gap" type="radio" id="one_two_thousand" name="one_to_fourthousand_sq" value="2000 to 3000" /><span>{% trans "2000 to 3000 sq.ft model" %}</span></label></p><br>
              <p><label><input class="with-gap" type="radio" id="two_four_thousand" name="one_to_fourthousand_sq" value="3000 to 4000" /><span>{% trans "3000 to 4000 sq.ft model" %}</span></label></p><br>
              <p><label><input class="with-gap" type="radio" id="more4000" name="one_to_fourthousand_sq" value="more_than_four" /><span>{% trans "More than 4000 sq.ft model" %}</span></label></p><br>
              <p><label><input class="with-gap" name="one_to_fourthousand_sq" type="text" /><span>{% trans "Others:" %}</span></label></p><br>
            </div>
          </div>
          
          <div class='row'>
            <div class='input-field col s8'>
              <span style="float: left; color: black;">{% trans "Does the NGO/ supporter provide seeds every year?" %}</span><br>
              <p><label><input class="with-gap" name="seed_ngo" type="radio" value="yes" id="chkdyes" /><span>{% trans "Yes" %}</span></label></p>
              <p><label><input class="with-gap" name="seed_ngo" type="radio" value="no" /><span>{% trans "No" %}</span></label></p>
            </div>
          </div>
          
          <div class='row'>
            <div class='input-field col s12'>
              <span style="float: left; color: black;">{% trans "Name the Seasonal vegetables grown in Nutri-Garden" %}</span>
              <input type="text" class="fieldlabels" placeholder="{% trans 'seasonal vegetable' %}" name="seasonal_vegetable" id="seasonal_vegetable">
            </div>
          </div>
          
          <div class='row'>
            <div class='input-field col s12'>
              <span style="float: left; color: black;">{% trans "Name the Perennial vegetables grown in Nutri-Garden" %}</span>
              <input type="text" class="fieldlabels" placeholder="{% trans 'perennial vegetable' %}" name="perennial_vegetable" id="perennial_vegetable">
            </div>
          </div>
          
          <div class='row'>
            <div class='input-field col s12'>
              <span style="float: left; color: black;">{% trans "Name the Fruits grown in Nutri-Garden" %}</span>
              <input type="text" class="fieldlabels" placeholder="{% trans 'fruits' %}" name="fruitsgrown" id="fruitsgrown">
            </div>
          </div>
          
          <div class='row'>
            <div class='input-field col s12'>
              <span style="float: left; color: black;">{% trans "Average daily Fruit output from Nutri-Garden in Kg/Day" %}</span>
              <input type="text" class="fieldlabels" placeholder="{% trans 'daily fruits' %}" name="dailyfruit" id="dailyfruits">
            </div>
          </div>
          
          <div class='row'>
            <div class='input-field col s8'>
              <span style="float: left; color: black;">{% trans "Type of Seeds used in Nutri-Garden" %}</span><br>
              <p><label><input class="with-gap" name="indigeous" type="radio" value="indigeous" /><span>{% trans "Indigeous" %}</span></label></p>
              <p><label><input class="with-gap" name="indigeous" type="radio" value="hybrid" /><span>{% trans "Hybrid" %}</span></label></p><br>
              <p><label><input class="with-gap" name="indigeous" type="text" /><span>{% trans "Others:" %}</span></label></p>
            </div>
          </div>
          
          <div class='row'>
            <div class='input-field col s10'>
              <span style="float: left; color: black;">{% trans "What is the average monthly income from a Nutri-Garden?" %}</span></br>
              <p><label><input class="with-gap" name="income" type="radio" value="0 to 500" /><span>{% trans "0 to 500 Rs" %}</span></label></p><br>
              <p><label><input class="with-gap" name="income" type="radio" value="500 to 2000" /><span>{% trans "500 to 2000 Rs" %}</span></label></p><br>
              <p><label><input class="with-gap" name="income" type="radio" value="2000 to 5000" /><span>{% trans "2000 to 5000 Rs" %}</span></label></p><br>
              <p><label><input class="with-gap" name="income" type="radio" value="5000 to 10000" /><span>{% trans "5000 to 10000 Rs" %}</span></label></p><br>
              <p><label><input class="with-gap" name="income" type="radio" value="more than 10000" /><span>{% trans "More than 10000 Rs" %}</span></label></p><br>
              <p><label><input class="with-gap" name="income" type="text" /><span>{% trans "Others:" %}</span></label></p>
            </div>
          </div>
        
        
          <div class='row'>
            <div class='input-field col s12'>
              <span style="float: left; color: black;">{% trans "Type of Cultivation method in Nutri-Garden" %}</span><br>
              <p><label><input class="with-gap" name="open_cultivation" type="checkbox" id = "open_cultivation"value = "Open Cultivation" /><span>{% trans "Open Cultivation"%}</span></label></p><br>
              <p><label><input  class="with-gap" name="open_cultivation_multilayer" type="checkbox" id = "open_cultivation_multilayer" value = "multilayer croping" /><span>{% trans "Open Cultivation with multilayer croping"%}</span></label></p><br>
              <p><label><input class="with-gap" name="protectcultivation_shed_net" type="checkbox" id = "protectcultivation_shed_net" value = "Shed-Net" /><span>{% trans "Protected Cultivation using Shed-Net"%}</span></label></p><br> 
              <p><label><input class="with-gap" name="protectcultivation_shed_polyhouse" type="checkbox" id = "protectcultivation_polyhouse" value = "Polyhouse" /><span>{% trans "Protected Cultivation using Polyhouse"%}</span></label></p><br> 
              <p><label><input type="text" class="fieldlabels" placeholder="level of Nutri-Garden" name="cultivation_other" id="cultivation_other">{% trans "Others:"%}</label></p><br> 
            </div>
          </div>
          <div class='row'>
            <div class='input-field col s12'>
              <span style="float: left; color: black;">{% trans "Average per month expenses on Nutri-Garden"%}</span><br>
              <p><label><input class="with-gap" name="month" type="radio" value="Less than 1000" /><span>{% trans "Less than 250"%}</span></label> </p><br>
              <p><label><input  class="with-gap" name="month" type="radio" value="250-500" ><span>{% trans "250 to 500"%}</span></label></p><br>
              <p><label><input class="with-gap" name="month" type="radio" value="500-1000"/><span>{% trans "500 to 1000"%}</span></label> </p><br>
              <p><label><input class="with-gap" name="month" type="radio" value="1000-2000"/><span>{% trans "1000 to 2000"%}</span></label> </p><br>
              <p><label><input class="with-gap" name="month" type="radio" value="Less than 2000"/><span>{% trans "Less than 2000"%}</span></label> </p><br>
            </div>  
          </div>
          <div class='row'>
            <div class='input-field col s12'>
              <span style="float: left; color: black;">{% trans "Source of Water for irrigation"%}</span><br>
              <p><label><input class="with-gap" name="well" type="checkbox" id = "well"value = "Well" /><span>{% trans "Well"%}</span></label></p><br>
              <p><label><input  class="with-gap" name="bore_well" type="checkbox" id = "bore_well" value = "bore_well" /><span>{% trans "Bore well"%}</span></label></p><br>
              <p><label><input class="with-gap" name="pond" type="checkbox" id = "pond" value = "pond" /><span>{% trans "Pond"%}</span></label></p><br> 
              <p><label><input class="with-gap" name="river" type="checkbox" id = "river" value = "river" /><span>{% trans "River"%}</span></label></p><br>
              <p><label><input class="with-gap" name="canel" type="checkbox" id = "canel" value = "canel" /><span>{% trans "Canel"%}</span></label></p><br>  
              <p><label><input class="with-gap" name="nal" type="checkbox" id = "nal" value = "nal" /><span>{% trans "Nal coup (Sarkari Nal), grey /wastewate"%} </span></label></p><br>
              <p><label><input type="text" class="fieldlabels" placeholder="source of water" name="source_water" id="source_water">{% trans "Others:"%}</label></p><br> 
            </div>
          </div>
          <div class='row'>
            <div class='input-field col s12'>
              <span style="float: left; color: black;">{% trans "Irrigation Water Availability" %}</span><br>
              <p><label><input class="with-gap" name="irrigation" type="radio" value="no_water" /><span>{% trans "No water available for irrigation"%}</span></label> </p><br>
              <p><label><input  class="with-gap" name="irrigation" type="radio" value="less_water" ><span>{% trans "Very less water available"%}</span></label></p><br>
              <p><label><input class="with-gap" name="irrigation" type="radio" value="sufficient_water"/><span>{% trans "Sufficient Water available for Nutri-Garden"%}</span></label> </p><br>
              <p><label><input class="with-gap" name="irrigation" type="radio" value="excess_water"/><span>{% trans "Excess Water Availablity"%}</span></label> </p><br>
         
            </div>  
          </div>
          <div class='row'>
            <div class='input-field col s12'>
              <span style="float: left; color: black;">{% trans "Name the organizations / government schemes supporting the school Nutri-Garden" %}</span>
              <input type="text" class="fieldlabels" placeholder="{% trans 'name the organization' %}" name="school_name" id="school_name">
              
            </div>
          </div>
          <div class='row'>
            <div class='input-field col s12'>
              <span style="float: left; color: black;">{% trans "Any weekly classes/course work dedicated to Nutri-Garden and training to students?" %}</span>
              <input type="text" class="fieldlabels" placeholder="{% trans 'Any weekly classes' %}" name="any_weekly_class" id="any_weekly_class">
            
            </div>
          </div>
          <div class='row'>
            <div class='input-field col s12'>
              <span style="float: left; color: black;">{% trans "Weekly time spent by students in Nutri-Garden" %}</span><br>
              <p><label><input class="with-gap" name="weekly" type="radio" value="weekly_1" /><span>{% trans "Weekly 1 hr" %}</span></label> </p><br>
              <p><label><input  class="with-gap" name="weekly" type="radio" value="weekly_2" ><span>{% trans "Weekly 2 hr" %}</span></label></p><br>
              <p><label><input class="with-gap" name="weekly" type="radio" value="weekly_3"/><span>{% trans "Weekly 3 hr" %}</span></label> </p><br>
              <p><label><input class="with-gap" name="weekly" type="radio" value="weekly_4"/><span>{% trans "Weekly 4 hr" %}</span></label> </p><br>
              <p><label><input class="with-gap" name="weekly" type="radio" value="weekly_5"/><span>{% trans "Weekly 5 hr" %}</span></label> </p><br>
              <p><label><input class="with-gap" name="weekly" type="radio" value="more_5"/><span>{% trans "More than 5 hr" %}</span></label> </p><br>
       
            </div>  
          </div>
          <div class='row'>
            <div class='input-field col s12'>
              <span style="float: left; color: black;">{% trans "At what scale School Nutri-Garden is operating:" %}</span><br>
              <p><label><input class="with-gap" name="mid_day_meal" type="checkbox" id = "mid_day_meal"value = "school Mid-day-meal" /><span>{% trans "Using output in school Mid-day-meal" %}</span></label></p><br>
              <p><label><input  class="with-gap" name="surplus_selling" type="checkbox" id = "surplus_selling" value = "surplus produce" ><span>{% trans "Selling the surplus produce from Nutri-Garden" %}</span></label></p><br>
              <p><label><input class="with-gap" name="openfield_science_lab" type="checkbox" id = "openfield_science_lab"value = "open field science lab" /><span>{% trans "Using Nutri-Garden as a open field science laboratory" %}</span></label></p><br>
              <p><label><input class="with-gap" name="hot_cooked_meal" type="checkbox" id = "hot_cooked_meal"value = "hot cooked meal" /><span>{% trans "Using Nutri-Garden output in hot cooked meal of Anganwadi" %}</span></label></p><br>
              <p><label><input class="with-gap" name="school_child" type="checkbox" id = "school_child"value = "families of school children" /><span>{% trans "sharing the excess produce from Nutri-Garden to families of school children" %}</span></label></p><br>
              <p><label><input type="text" class="fieldlabels" placeholder="scale school nutri-garden" name="school_scale" id="school_scale">{% trans "Others:" %}</label></p><br>
       
            </div>
          </div>    
  
          <div class='row'>
            <div class='input-field col s12'>
              <span style="float: left; color: black;">{% trans "Any Innovative practices in School Nutri-Garden" %}</span>
              <input type="text" class="fieldlabels" placeholder="Any innovative practices in school" name="any_innovative" id="any_innovative">
          
            </div>
          </div>
          <div class='row'>
            <div class='input-field col s12'>
              <span style="float: left; color: black;">{% trans "Category" %}</span><br>
              <p><label><input class="with-gap" name="type" type="radio" value="AFIF" /><span>{% trans "AFIF" %}</span></label> </p><br>
              <p><label><input  class="with-gap" name="type" type="radio" value="Poshanvatika" ><span>{% trans "Poshanvatika" %}</span></label></p><br>
              <!-- <p><label><input class="with-gap" name="type" type="radio" value="nutrigarden"/><span>Nutri-garden</span></label></p><br> -->
              
            </div>  
          </div>
     
          <div class="input-section center">
          <a id="location-btn" class="waves-effect waves-light btn-small" style=" background-color: #4CAF50; visibility: hidden;">Get Location</a>
  
            <div class="preloader-wrapper small active" id="location-loader">
              <div class="spinner-layer spinner-green-only">
                <div class="circle-clipper left">
                  <div class="circle"></div>
                </div><div class="gap-patch">
                  <div class="circle"></div>
                </div><div class="circle-clipper right">
                  <div class="circle"></div>
                </div>
              </div>
            </div>
  
          </div>
  
          
          <div class="input-field center">
            <button class="btn-small" type="submit" name="action" style=" background-color: #4CAF50;">{% trans "Submit" %}</button>
          </div>
          
        
      </form>
      <script>
        window.onload = function(){
  document.getElementById('location-btn').click();
}
      </script>
      <script>

        $(function() {
           $("input[name='afif']").click(function() {
             if ($("#chkno").is(":checked")) {
               $("#text").show();
             } else {
               $("#text").hide();
             }
           });
         });
      
         $(function() {
           $("input[name='ifAFIF']").click(function() {
             if ($("#afifyes").is(":checked")) {
               $("#afiftext").show();
             } else {
               $("#afiftext").hide();
             }
           });
         });
      
         $(function() {
           $("input[name='prodCompany']").click(function() {
             if ($("#chkyes").is(":checked")) {
               $("#yesComp").show();
             } else {
               $("#yesComp").hide();
             }
           });
         });
      
         $(function() {
           $("input[name='surplus']").click(function() {
             if ($("#chkdyes").is(":checked")) {
               $("#surplusyes").show();
             } else {
               $("#surplusyes").hide();
             }
           });
         });
        </script>
    </div>

    
    <!-- <div style="display:none ">
      <form class="container section" enctype="multipart/form-data"method="post">
        {% csrf_token %}
          {{form.as_p}}
          <button class="btn-small" type="submit" name="action" style=" background-color: #4CAF50;">Add</button>
      </form>
    </div> -->


    <div class="center">
      <a class="btn-floating btn-small btn-large close-btn">
        <i class="material-icons" style=" background-color: #4CAF50;">close</i>
      </a>
    </div>
  </div>
 
 
  {% endblock %}

  