{% extends 'home/base.html'%}
{% load static%}
{% block content %}

<head>  <link type="text/css" href="{% static 'home/css/style.css' %}" rel="stylesheet">
  <style>
     #form{
      width:40%;
    }
    #form label{
      color: black;
      font-size: 18px;
    }
  </style>
</head>
  <!-- recipes -->
  <div class="recipes container grey-text text-darken-1">
    <img src="{% static 'home/images/main.jpeg'%}"
           alt="Poshan vatika"
           class="main-image">

    <p class='msg-box'>Add Nutrigardens Information</p>
  </div>

  <div class="center">
    <a class="btn-floating btn-small btn-large add-btn">
      <i class="material-icons" style=" background-color: #4CAF50;">add</i>
    </a>
  </div>

  <!-- add  side nav -->
  <div id="side-form" class="side-form">
    <div class="image-options">
      <div class="camera-div">
        <a class="btn-floating btn-large capture-btn">
          <i class="material-icons">camera_alt</i>
        </a>
        <hr style="width:50% ;text-align:center;">

        <small>click image from your camera</small>
      </div>
      <div class="upload-div">
        <a href="{% url 'uploadvatikapic' %}" class="btn-floating  btn-large upload-btn">
          <i class="material-icons">upload</i>
        </a>
        <hr style="width:50%;text-align:center;">
        <small>Upload images</small>

      </div>
    </div>
    <div class="capture-div" style='display:none'>
      <form id= "form" class="container section" method="post">
        {% csrf_token %}
        <h6 >Add NutiGarden</h6>
        <div class="divider"></div>
          <video id="player" autoplay></video>
          <canvas id='canvas' width="320px" height="240px" name="picture_name" ></canvas>
          <div class="input-field center">
            <a id="capture-btn" class="waves-effect waves-light btn-small" style=" background-color: #4CAF50;">Capture</a>
          </div>
  
          <div id='pick-image'>
            <small>Allow Camera access to app</small>
          </div>
          <div class="input-field">
            <input placeholder="Enter your name" id="name" type="text" name="name" required>
            <label for="title">Name</label>
          </div>          
          <div class="input-field">
            <input placeholder="Enter the name of your Nutrigarden" id="nutri_nm" type="text" name="nutri_nm">
            <label for="title">Name of the nutrigarden</label>
          </div>
          <div class="input-field">
            <input placeholder="Area of the nutrigarden" id="area" type="number" name="area" required>
            <label for="title">Area(in sq. meters)</label>
          </div>  
          <div class="input-field">
            <input placeholder="Village where nutrigarden is located" id="village" type="text" name="village" required>
            <label for="title">Village</label>
          </div>  
          <div class="input-field">
            <input placeholder="Enter the district name" id="district" type="text" name="district" required>
            <label for="title">District</label>
          </div>  
          <div class="input-field">
            <input placeholder="Enter state name" id="state" type="text" name="state" required>
            <label for="title">State</label>
          </div>  
          <div class="input-field">
            <input placeholder="Enter your pincode" id="pincode" type="text" name="pincode" required>
            <label for="title">Pincode</label>
          </div>  
          <div class="input-field">
            <input placeholder="Allow location access to capture your location" id="lat" type="text" name="lat" readonly="readonly" required>
            <label for="title">Latitude</label>
          </div>
          <div class="input-field">
            <input placeholder="Allow location access to capture your location" id="lng" type="text" name="lng" readonly="readonly" required>
            <label for="title">Longitude</label>
          </div>
  
          <div class="input-section center">
          <a id="location-btn" class="waves-effect waves-light btn-small" style=" background-color: #4CAF50; visibility: hidden;">Get Location</a>
  
            <div class="preloader-wrapper small active" id="location-loader">
              <div class="spinner-layer spinner-green-only">
                <div class="circle-clipper left">
                  <div class="circle"></div>
                </div><div class="gap-patch">
                  <div class="circle"></div>
                </div><div class="circle-clipper right">
                  <div class="circle"></div>
                </div>
              </div>
            </div>
  
          </div>
  
          
          <div class="input-field center">
            <button class="btn-small" type="submit" name="action" style=" background-color: #4CAF50;">Submit</button>
          </div>
      </form>
      <script>
        window.onload = function(){
  document.getElementById('location-btn').click();
}
      </script>
    </div>

    
    <!-- <div style="display:none ">
      <form class="container section" enctype="multipart/form-data"method="post">
        {% csrf_token %}
          {{form.as_p}}
          <button class="btn-small" type="submit" name="action" style=" background-color: #4CAF50;">Add</button>
      </form>
    </div> -->


    <div class="center">
      <a class="btn-floating btn-small btn-large close-btn">
        <i class="material-icons" style=" background-color: #4CAF50;">close</i>
      </a>
    </div>
  </div>
 
 
  {% endblock %}

  