{% extends 'home/base.html'%}
{% load static%}
{% block content %}

  <!-- recipes -->
  <div class="recipes container grey-text text-darken-1">
    <img src="{% static 'home/images/main.jpeg'%}"
           alt="Poshan vatika"
           class="main-image">

    <p class='msg-box'>Add Nutrigardens Information</p>
    <!-- <div class="card-panel recipe white row">
      <img src="/img/dish.png" alt="recipe thumb">
      <div class="recipe-details">
        <div class="recipe-title">Edame Noodles</div>
        <div class="recipe-ingredients">Edame Beans, Noodels, Garlic oil</div>
      </div>
      <div class="recipe-delete">
        <i class="material-icons">delete_outline</i>
      </div>
    </div> -->
  </div>

  <div class="center">
    <a class="btn-floating btn-small btn-large add-btn">
      <i class="material-icons">add</i>
    </a>
  </div>

  <!-- add  side nav -->
  <div id="side-form" class="side-form">
    <div class="image-options">
      <div class="camera-div">
        <a class="btn-floating btn-large capture-btn">
          <i class="material-icons">camera_alt</i>
        </a>
        <hr style="width:50%;text-align:center;">

        <small>click image from your camera</small>
      </div>
      <div class="upload-div">
        <a class="btn-floating  btn-large upload-btn">
          <i class="material-icons">upload</i>
        </a>
        <hr style="width:50%;text-align:center;">
        <small>Upload images</small>

      </div>
    </div>
    <div class="capture-div" style='display:none'>
      <form class="container section" method="post">
        {% csrf_token %}
        <h6 >Add NutiGarden</h6>
        <div class="divider"></div>
          <video id="player" autoplay></video>
          <canvas id='canvas' width="320px" height="240px" name="myfile" ></canvas>
          <div class="input-field center">
            <a id="capture-btn" class="waves-effect waves-light btn-small">Capture</a>
          </div>
  
          <div id='pick-image'>
            <small>Allow Camera access to app</small>
          </div>
  
          <div class="input-field">
            <input placeholder="Enter Latitude" id="lat" type="text" name="lat">
            <label for="title">Latitude</label>
          </div>
          <div class="input-field">
            <input placeholder="Enter  Longitude" id="lng" type="text" name="lng">
            <label for="title">Longitude</label>
          </div>
  
          <div class="input-section center">
          <a id="location-btn" class="waves-effect waves-light btn-small">Get Location</a>
  
  
            <div class="preloader-wrapper small active" id="location-loader">
              <div class="spinner-layer spinner-green-only">
                <div class="circle-clipper left">
                  <div class="circle"></div>
                </div><div class="gap-patch">
                  <div class="circle"></div>
                </div><div class="circle-clipper right">
                  <div class="circle"></div>
                </div>
              </div>
            </div>
  
          </div>
  
          
          <div class="input-field center">
            <button class="btn-small" type="submit" name="action">Add</button>
          </div>
      </form>
    </div>

    <div class="upload-section" style="display:none ">
      <form class="container section" method="post">
        {% csrf_token %}
          {{form.as_p}}
          <button class="btn-small" type="submit" name="action">Add</button>
      </form>

    </div>


    <div class="center">
      <a class="btn-floating btn-small btn-large close-btn">
        <i class="material-icons">close</i>
      </a>
    </div>
  </div>
 
  {% endblock %}

  