{% extends 'home/base.html'%}
{% load static %}
{% block content%}

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
  
     <!-- Include Leaflet.ZoomSlider CSS and JS files -->
      <link rel="stylesheet" href="https://unpkg.com/leaflet-zoomslider@0.1.5/dist/L.Control.Zoomslider.min.css" />
      <script src="https://unpkg.com/leaflet-zoomslider@0.1.5/dist/L.Control.Zoomslider.min.js"></script>
  
  
  

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
    <!-- <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script> -->
    <!-- <link rel="stylesheet" href="{% static 'mystyle.css' %}" /> -->
    <script>
      var sidebar = L.control.sidebar({
        autopan: true,       // Whether to pan the map when opening the sidebar
        closeButton: true,   // Whether to display a close button on the sidebar
        container: 'sidebar' // ID of the sidebar container element
      }).addTo(mymap);
      </script>
    {% block extra_resources%}
    {% endblock %}
	


{% block map %}

{% endblock map%}


{% endblock%}
